.form-label {
  padding-top: 12px;
  font-weight: 550;
  font-size: 20px;
  text-align: left;
}

.form-field {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.save-btn {
  margin-bottom: 20px;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .form-label {
    padding-top: 12px;
    font-weight: 550;
    font-size: 18px;
    text-align: left;
  }

  .form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
