.foot-container {
  display: flex;
  justify-content: center;
}

.footer__logo {
  width: 200px;
  margin-top: 30px;
}

.link-head {
  color: white;
  font-weight: 500;
  font-size: 25px;
  padding: 30px 0;
}

li {
  list-style: none;
}

.footer-link:hover {
  color: black;
}

.footer-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: white;
}
.socials {
  margin-top: 40px;
}

.socials i {
  color: white;
  margin-left: 30px;
  cursor: pointer;
}

.footer-info {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  color: white;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .link-head {
    font-size: 18px;
  }

  .footer-link,
  .footer-info {
    font-size: 15px;
  }

  .footer__logo {
    width: 150px;
    margin-top: 30px;
    margin-left: 40px;
  }
}
